set_io --warn-no-port crystal J3
set_io --warn-no-port in_bits T2


set_io --warn-no-port out_i[0]  B2
set_io --warn-no-port out_i[1]  B1
set_io --warn-no-port out_i[2]  C2
set_io --warn-no-port out_i[3]  C1
set_io --warn-no-port out_i[4]  D2
set_io --warn-no-port out_i[5]  D1
set_io --warn-no-port out_i[6]  E2
set_io --warn-no-port out_i[7]  F1

set_io --warn-no-port out_q[0]      B5
set_io --warn-no-port out_q[1]      B4
set_io --warn-no-port out_q[2]      A2
set_io --warn-no-port out_q[3]      A1
set_io --warn-no-port out_q[4]      C5
set_io --warn-no-port out_q[5]      C4
set_io --warn-no-port out_q[6]      B3
set_io --warn-no-port out_q[7]      C3
